@{
    ViewBag.Title = "Home";
}

<p>Environment: @ViewBag.EnvironmentName</p>
<p>Application: @ViewBag.ApplicationName</p>
<p>Version: @ViewBag.Version</p>
<p>ApiPathBase: @ViewBag.ApiPathBase</p>

<h2>Links</h2>

<p><a href="@ViewBag.SwaggerUiUri">Swagger</a></p>
<p><a href="@ViewBag.HealthUiUri">Health</a></p>
<p><a href="@ViewBag.HelloUri">Hello</a></p>
<p><a href="@ViewBag.Proj1Uri">Proj1</a></p>
<p><a href="@ViewBag.Proj2Uri">Proj2</a></p>